
  <h3>Say something</h3>
 
  <form class="post-new-comment" method="POST" action="https://dev.staticman.net/v2/entry/jSwtch/thriving-cities-events/master/comments">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
    <input name="fields[name]" type="text" class="post-comment-field" placeholder="Your name">
    <input name="fields[email]" type="email" class="post-comment-field" placeholder="Your email address">
    <textarea name="fields[message]" class="post-comment-field" placeholder="Your message. Feel free to use Markdown." rows="10"></textarea>
    <input type="submit" class="post-comment-field btn" value="Submit">
  </form>


 