<section id="events" class="grid">

  <h2>New Events</h2>
  {{ range first 3 (where .Site.Pages "Params.type" "event") }}
  <div class="event-card">

    <section class="card-image">
      <a href="{{.URL}}">
        <img src="./img/{{ .Params.img }}.jpg" alt="">
      </a>
    </section>

    <section class="card-date">
      <a href="{{.URL}}">
        <span class="card-date--day">{{ .Date.Format "2" }}</span>
        <span class="card-date--month">{{ .Date.Format "Jan" }}</span>
      </a>
    </section>

    <section class="card-post">
      <a href="{{.URL}}">
        <span class="title">{{.Title}}</span>
      </a>
      <br>
      <span>{{ .Params.startTime }} - {{ .Params.endTime }}</span>
      <p class="card-post--content">{{ .Params.description | safeHTML | truncate 100 }}</p>
      <a href="{{.URL}}">
        <button class="button">Read More</button>
      </a>
    </section>

  </div>
  {{end}}
</section>