<footer class="footer">
    <span class="brand">
      <a href="http://thrivingcities.com/"><img class="logo" src="./img/TC_Mark_Black_RGB.png" alt=""></a>
      <h3>Thriving Cities <br> Memphis Voice Project</h3>
    </span>  
    <ul id="footerMenu">
      <li><a class="h4" href="./">Home</a></li>
      <li><a class="h4" href="./events/">Events</a></li>
      <li><a class="h4" href="./about/">About</a></li>
    </ul>
    <span class="details details--address">
        THRIVING CITIES GROUP, 117 4TH STREET NORTHEAST, CHARLOTTESVILLE, VA, 22902, UNITED STATES ADMIN@THRIVINGCITIESGROUP.COM
    </span>
    <span class="details details--copyright"><small>COPYRIGHT 2018.
        ALL RIGHTS RESERVED.</small></span>
  </footer>