<form action="https://netlify.us18.list-manage.com/subscribe/post" method="POST">
  <input type="hidden" name="u" value="03aedfd199ea21756fbf1abfb">
  <input type="hidden" name="id" value="5b788517a9">
  <div id="mergeTable" class="mergeTable">
    <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
      <label for="MERGE0">Email Address
        <span class="req asterisk">*</span>
      </label>
      <div class="field-group">
        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
      </div>
    </div>
    <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
      <label for="MERGE1">First Name</label>
      <div class="field-group">
        <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
      </div>
    </div>
    <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
      <label for="MERGE2">Last Name</label>
      <div class="field-group">
        <input type="text" name="MERGE2" id="MERGE2" size="25" value="">
      </div>
    </div>
  </div>
  <div class="submit_container clear">
    <input type="submit" class="button formEmailButton" name="submit" value="Subscribe to list">
  </div>
  <input type="hidden" name="ht" value="7e612bf1f169a462427f5b69f885e1d103f11dca:MTUyNzc1NTIzNy45NDEz">
  <input type="hidden" name="mc_signupsource" value="hosted">
</form>