.get-involved {
  background: var(--color-light);
  font-family: var(--font-sans);
  text-align: center;
}

.get-involved input {
  text-align: center;
  margin: 0 auto;
}

.get-involved .mergeTable {
  text-align: center;
}

.get-involved .mergeRow:not(:first-child):not(:last-child) {
  padding: 1em;
}

.get-involved .field-group input {
  line-height: 1.6;
}

.get-involved .formEmailButton {
  margin: 2em auto;
}