{{ define "main" }}

<section id="events" class="grid">

  <div class="event-single">

    <section class="event-image">
      <img src="./img/{{ .Params.img }}.jpg" alt="">
    </section>

    <section class="event-date">
      <span class="card-date--day">{{ .Date.Format "2" }}</span>
      <span class="card-date--month">{{ .Date.Format "Jan" }}</span>
    </section>

    <section class="event-post">
      <a href="{{.URL}}"></a>
      <span class="title">{{.Title}}</span>
      </a>
      <br>
      <span>{{ .Params.startTime }} - {{ .Params.endTime }}</span>
      <p class="card-post--content">{{ .Params.description | safeHTML | truncate 100 }}</p>
      <a href="{{.URL}}">
        <button class="button">Sign Up</button>
      </a>
    </section>

    <section class="content">
      {{ .Content }}
    </section>
  </div>

</section>

{{end}}