{{ define "main" }}

<section id="events" class="wrapper">

  <div class="event-single">

    <section class="event-image">
      <img src="./img/{{ .Params.img }}.jpg" alt="">
    </section>

    <section class="event-date">
      <span class="card-date--day">{{ .Date.Format "2" }}</span>
      <span class="card-date--month">{{ .Date.Format "Jan" }}</span>
    </section>

    <section class="event-post">
      <span class="title">{{.Title}}</span>
      <br>
      <span>{{ .Date.Format "January 2, 2006" }}</span>
      <span>{{ .Params.startTime }} - {{ .Params.endTime }}</span>
      <a href="https://mailchimp.com/">
        <button class="button">Sign Up</button>
      </a>
    </section>

    <section class="content">
      {{ .Content }}
    </section>
  </div>

</section>

{{end}}