{{ define "main" }}

<h1>Welcome to Your New Thriving Cities Event Page
  <small>Design & Development by <a href="https://www.sanderson.pro/">Jonathan Sanderson</a></small>
</h1>

<section id="about">
  <h3>How do I use this page?</h3>
  <ul>Key Features
    <li>extremely fast</li>
    <li>very secure</li>
    <li>easy to use</li>
  </ul>
  <p>Structure: easily add a blog to the events page.</p>
</section>
<section id="performance">

  <h3>What About Performance?</h3>
    <a target="_blank" href="https://gtmetrix.com/"><img src="./thrivingcities-performance.png" alt=""></a>

  <ul>Why Go Static?
    <li>Right tool for the right job</li>
    <li>Mobile users love small file size</li>
    <li>Extremely fast, and secure</li>
    <li>Easy to learn</li>
  </ul>
</section>
<section id="design">
  <h3>What Design Decisions, and Why?</h3>
  <ul>Fonts
      <li></li>
      <li></li>
      <li></li>
    </ul>
  <ul>Color
      <li></li>
      <li></li>
      <li></li>
    </ul>
  <ul>Layout
      <li></li>
      <li></li>
      <li></li>
    </ul>
  <ul>Inspiration
      <li></li>
      <li></li>
      <li></li>
    </ul>
</section>
<section id="contact">
    <h3>What if We Have Questions?</h3>
    <ul>
        <li>Available support: email, phone, and skype</li>
        <li>Walkthrough setup</li>
        <li>Available for future design consultation</li>
      </ul>
</section>

{{end}}