{{ define "main" }}
<div class="wrapper">
  <section class="body-content about-page">
    <h2>About this submission</h2>
    <section>
      <p>
        Thank you for taking the time to review this submission for the events page contest. On this page you will find a summary
        of my design decisions, with explanations. I will also outline the benefits that my solution provides. I believe
        this site is provides lean solution to the task presented, and is an excellent fit to your existing brand identity.
        In summary this site has excellent performance metrics (speed), is designed with "mobile first", and is fully responsive,
        and provides a zero friction solution for your team (easy to get started).
      </p>
      <h3>Yes, we can remove the watermark from the homepage image :)</h3>
      <p>
        This image is licenseable, and will be purchased if this design is selected. The purchased image will be higher resolution
        (look cleaner), and will expand beyond 1440px. We can use 2560px for full width on ultra high definition monitors.
        I have added custom photosop filters to the image, and will retouch the image once purchased.
      </p>
    </section>

    <section>
      <h3>Site performance</h3>
      <p>This site is super fast! I like to use
        <a href="https://gtmetrix.com/">GTMetrix</a> for performance ratings, you can analyze any URL for comparision. The image shown here is a summary
        of the results.</p>
      <picture>
        <source media="(min-width: 960px)" srcset="./img/gtmetrix-score.jpg">
        <img src="./img/gtmetrix-score-mobile.jpg" alt="">
      </picture>
    </section>
    <section>
      <h3>Fully responsive design</h3>
      <p>This site is built with mobile users in mind! We have enabled functional breakpoints for different devices and fluid
        text for smooth transitions. Furthermore all images have multiple compressed forms for smaller file size on mobile.
        This translates to smaller page size and a faster load time.</p>
      <img src="./img/responsive.jpg" alt="">
    </section>

    <section>
      <h3>Zero friction</h3>
      <p>This site is designed for easy implementation. There is no javascript framework or complicated content management system
        (see
        <a href="/about/#choose-static">why choose static</a> ). A new event is very easy to add. This site uses
        <a href="https://golang.org/">Go</a> templating to generate html pages, and anyone can add a new event by writing a simple
        <a href="http://kirkstrobeck.github.io/whatismarkdown.com/">markdown file</a> following the format as shown. This means you may not have to rely on your developers to constantly
        update the events page.
        <strong>Just write the markdown, and upload to the source.</strong> This will trigger a new deployment of the site, and the
        results will be live within minutes.
      </p>
      <img src="./img/markdown-input.jpg" alt="">
      <img src="./img/markdown-output.jpg" alt="">

      <section>
        <h3>Easily themable</h3>
        <p>This site is built with customization in mind. Font size, color, and most margin/padding can be easily tweaked, or
          tuned to your liking. CSS custom properties, and variables are used in the main css file so you don't have to search
          through the code. The image shown here is how some custom color parameters could be adjusted.</p>
        <img src="./img/theme.jpg" alt="">
      </section>

      <section id="choose-static">
        <h3>Why choose static?</h3>
        <p>This is all about the right tool for the right job. This type of events page has to be fast, and easily accessible
          on mobile. The static site gives us the speed and security we need, with no complicated code base, or content management
          system. Furthermore, new events can easily be added by marketers, or social media coordinators. You don't need
          to be a developer to keep the site updated. A static solution with template generated markdown, and continious
          deployment is the perfect fit!
        </p>
      </section>

      <section>
        <h3>We like everything but...</h3>
        <p>I completely understand. I think it is important to establish a feedback loop in design and development projects.
          I am happy to make any changes to the site provided they remain within the scope of the project.</p>
      </section>

      <section>
        <h3>We want more!</h3>
        <p>I have many ideas on how we could take this site to the next level. I feel these ideas are outside the scope of this
          initial project, and would require additional design and development.</p>
        <ul>
          <li>Custom svg loading animation: this would really create a smooth transition for the user. These loaders are not
            just for large websites!</li>
          <li>Dynamic content on the static page: yes we can implement user comments on events, interactive question polls, and
            other neat features.</li>
          <li>Headless cms: we can create a super simple to use custom cms for your marketing team to add new events to the event
            page. With this solution
            <strong>a new event could be created from a mobile device</strong>, that then triggers a redeployment of the whole site.
            There would be no need for anyone on your team to even create a markdown file.
          </li>
          <li>Further polish: if this proposal is accepted, we can spend some time on refinment of the site details.</li>
        </ul>
      </section>

      <section>
        <h3>About myself</h3>
        <p>I am a designer and developer currently living in
          <a href="https://www.google.ca/maps/place/Alberta/@54.165491,-123.9553796,5z/data=!3m1!4b1!4m5!3m4!1s0x5309b282a82419b5:0xb0a9479a409b8e9e!8m2!3d53.9332706!4d-116.5765035">Alberta, Canada</a>. I am 100% self taught, and I believe in building projects from the ground up. I do not rely
          on Bootrap css framework, or jQuery javascript library. In my opinion these libraries add massive amount of bloated
          code, and are usually unneccessary. I believe each project provides a unique problem, and requires a custom solution.
          This is the third website I have built; thank you for the consideration.</p>
      </section>

      <section>
        <h3>How can we contact you?</h3>
        <p>I can easily be reached through the Zero-to-Mastery
          <a href="https://discordapp.com">discord app</a>, with online handle "@jSwtch". You can also visit my website
          <a href="https://www.sanderson.pro/">here</a> for further contact details. </p>
      </section>
    </section>

</div>
{{end}}